<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Sample</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
      <!-- <div v-if="type === 'A'">
        A
      </div>
      <div v-else-if="type === 'B'">
        B
      </div>
      <div v-else-if="type === 'C'">
        C
      </div>
      <div v-else>
        Not A/B/C
      </div> -->
      <!-- 타 브랜치 push 테스트 456-->
    </div>
    <script>
     var vm =  new Vue({
        el: '#app',
        data: () => ({
          type: '',
          beforeList: [
            {
              type:'color',
              value:'red',
            },
            {
              type:'fruit',
              value:'apple',
            },
            {
              type:'color',
              value:'blue',
            },
            {
              type:'fruit',
              value:'banana',
            }
          ],
          afterList : [],
        }),
        mounted(){
          let reduceObj = this.beforeList.reduce(function (acc, obj) {
            var key = obj['type'];
            if (!acc[key]) {
              acc[key] = [];
            }
            acc[key].push(obj['value']);
            return acc;
          }, {})
          console.log(reduceObj)

          const resultObject2 = Object.entries(reduceObj).reduce( (arr, [key, name]) => {
          arr.push({ type: key, value:name});
          return arr;
          }, []);
          console.log(resultObject2);
        }
      })
    </script>
  </body>
</html>